<%- include('partials/header.ejs') %>

<main>
    <section class="intro" id="home">
        <h1 class="section-title section-title-intro">
            Hi, I am <strong>Angel Lopez</strong>
        </h1>
        <p class="section-subtitle section-subtitle-intro">Software Developer</p>
        <img src="/img/me.JPEG" alt="a picture of me" class="intro-img">
    </section>

    <section class="my-services" id="services">
        <h2 class="section-title section-title-services">What I do</h2>
        <div class="services">
            <div class="service">
                <h3>Front-End Development</h3>
                <p>I have experience with the following technologies on the Front-End:</p>
                <div>HTML/CSS <progress value="90" max="100"></progress></div>
                <div>JavaScript <progress value="90" max="100"></progress></div>
                <div>React.js <progress value="80" max="100"></progress></div>
            </div>
            <div class="service">
                <h3>Back-End Development</h3>
                <p>I have experience with the following technologies on the Back-End:</p>
                <div>Express.js <progress value="90" max="100"></progress></div>
                <div>Python <progress value="85" max="100"></progress></div>
                <div>Django <progress value="80" max="100"></progress></div>
            </div>
        </div>

        <a href="#work" class="btn">My Work</a>
    </section>

    <section class="about-me" id="about">
        <h2 class="section-title section-title-about">Who I am</h2>
        <p class="section-subtitle section-subtitle-about">Software Developer currently looking to develop professional experience as a Junior Developer</p>

        <div class="about-me-body">
            <p> I am a Wichita State University Alumni, I graduated with a Bachelors in Computer Science and a Minor in Mathematics.
                I was born in Cerralvo, Nuevo Leon in Mexico but moved at a young age to Wichita, Kansas where I've been living ever 
                since.
            </p>
            <p>I aspire to work in the tech industry as a Software Engineer due to my curiosity on how technology works in the background
                and the growing capabilities of Machine Learning. In the future I hope to have earned a Masters in the field of Computer Science 
                and be employed in a company that is using Machine Learning to improve the lifes of many.
            </p>
        </div>

        <img src="/img/me.JPEG" alt="a picture of me" class="about-me-img">
    </section>

    <section class="my-work" id="work">
        <h2 class="section-title">My Work</h2>
        <p class="section-subtitle">A selection of my range of work</p>

        <div class="portfolio">
            <% for (const project of projects) { %>
                <a href=<%= project.link %> class="portfolio-item">
                    <img class="portfolio-img" src=<%= project.img %> alt=<%= project.title %>>
                </a> 
            <% } %>
        </div>
    </section>

</main>

<%- include('partials/footer.ejs') %>