<%- include('partials/header.ejs') %>

<main>
    <section class="project-container">
        <h2><%= project.project %></h2>
        <img class="project-img" src=<%= project.img %> alt=<%= project.project %>>
        <p class="project-desc"><%= project.description%></p>
        <span class="links">
            <a href=<%= project.link %>><i class="fas fa-link"></i></a>
            <a href=<%= project.github %>><i class="fab fa-github"></i></a>
        </span>
    </section>
</main>

<%- include('partials/footer.ejs') %>